/*STYLES GENERAUX*/
*{
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: #d2cfcf;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}

/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    background-repeat: no-repeat;
    padding: 40px 0;
    background: url("../img/banner-gfcd040374_1280.jpg") #4f4f4f;
    box-shadow: 0 0 30px #333;
    background-size: cover;
    background-position: center;
}
header{
    border-bottom: 2px solid #fff;
    height: 160px;
}
header h1, header h2{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 10px auto;
    text-shadow: 1px 1px 2px #000;
}

hr
{
    /* centre verticalement les enfants entre eux */
    align-items: center;

    /* active flexbox */
    display: flex;

    /* garde le texte centré s’il passe sur plusieurs lignes ou si flexbox n’est pas supporté */
    text-align: center;

}



/*SECTIONS*/
section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    box-shadow: 0 0 10px #bbb;
    background-color: #fff;
    border-radius: 10px;
}

.formation h2, h3{
    padding-left: 50px;

}
.formationImage {
    width: 150px;
    height: 70px;
    margin-left: 20px;
}

.formationDiv{

    margin: 30px auto 40px auto;
    padding: 20px ;
}



.formationDiv2{

    border-style: solid;
    margin: 0 auto 0 auto;
    border-color: #d0c8c6;
    border-radius: 10px;
    font-size: 25px;
    line-height: 27px;
    text-align:center;

}




section > div{
    width: 90%;
}

/* Présentation*/


.photo{
    text-align: right;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0 0 10px #777;
    border-radius: 50%;
    margin-top: -100px;
}

.interets img{
    width: 150px;
    height: 150px;
    border: 3px solid #fd7e14;
    box-shadow: 0 0 60px #504e4e;
    border-radius: 50%;

}
