/*STYLES GENERAUX*/
*{
    font-family: Roboto, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}

/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    background-repeat: no-repeat;
    padding: 20px 0px;
    background: url("../img/banner-gfcd040374_1280.jpg") #4f4f4f;
    box-shadow: 0px 0px 15px #333;
    background-size: cover;
    background-position: center;
}
header{
    border-bottom: 2px solid #fff;
    height: 160px;
}
header h1, header h2{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 10px auto;
    text-shadow: 1px 1px 2px #000;
}

h2 {
    color :  #004d6d;
}


/* Présentation*/


.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -100px;
}

.divPresentation {
    float: none;
    margin: 0px auto 0px auto;
    color: #fff;
    background-color: #fbc931;
    box-shadow: 20px 0px 10px #ccc;
    border-radius: 10px;

}
.exp{
    display: flex;
    flex-flow: row wrap;
    box-shadow: 20px 0px 10px #ccc;
    border: 1px solid #bbb;
    padding-bottom: 0px;
    margin-bottom: 80px;
    margin: 20px auto 20px auto;
    width: 90%;
    border-radius: 10px;
}